/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2022, 6:41:14 PM
    Author     : vasco
*/


nav {
    background-color: #9999ff;
    
    margin-right:20px;
    margin-left: 20px;
    
}
header {
    background-color: aqua;
    height: 260px;
}

.img{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid #001;
    align-content: center;
    width:500px;    
                }  
textarea {
    height: 100px;
  } 

p {
  margin-left: 15%;
  margin-right: 15%;
  background-color: lawngreen;
}
li {
 padding: 10px; 
 text-decoration: none;
 list-style: none;
 margin-right:110px;
 float: left;
 
     
 
}
ul {
 width:100%;
 font-size: 30px;
 font-family: fantasy;
 height:50px;
 text-align:center;
}

a {
text-decoration: none;


   
}

body {
    background-color: #0099ff;
    text-align: center;
}
footer{
    background-color: aqua;
    width: 100%;
    height: 200px;
}
